@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body{
    font-family: 'Raleway', sans-serif;
}
.container .navbar{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.list-collection{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.list-collection li{
    list-style-type: none;
    padding:0 10px;
}
.link-item{
     text-decoration: none;
     color:inherit; 
}
.download{
    background-color:rgb(192, 49, 221);
    color:white;
}
.colored-text-primary{
    color:rgb(8, 209, 8);
}
.loader{
    text-align: center;
    margin:18%;
}
.divette{
    height:20px;
    background:rgb(192, 49, 221);
}
/* .get h3{
    text-align: center;
} */
.read{
    text-align: center;
}
.contact h5{
       text-align: center;
}
.code{
    background:rgb(240, 216, 236);
    padding:20px;
    border-radius: 4px;
    font-size:14px;
}
.social-media i {
    font-size:2em;
}
.border-bottom{
    border-bottom:2px solid rgb(192, 49, 221);
    width:auto;
}
.menubar{
    z-index:30;
    display:none;
}
.menu-list{
    display:none;
    top:0px;
    right:0px;
    position:fixed;
    overflow:hidden;
    background:rgb(27, 25, 28);
    color:white;
    z-index:20;
    height:100%;
    width:30%;
}
.menu-list ul{
    position: relative;
    top:80px;
}
.menu-list li{
    padding:20px;
    list-style: none;
}
.menubar i{
    font-size: 1.3em;
}
@media (max-width:930px){
    .list-collection{
        display:none;
    }
    .loader{
        text-align: center;
        margin:20%;
    }
    .menubar{
        display:block;
    }
}
@media (max-width:500px){
   
    .menu-list{
        width:40%;
    }
    .menu-list li{
padding:10px;
    }
}
@media (max-width:350px){
    .menu-list{
        width:40%;
    }
    .menu-list li{
padding:10px;
    }
}